:root {
  /* Primary colors */

  --pc-light-red: hsl(0, 100%, 67%);
  --pc-orangey-yellow: hsl(39, 100%, 56%);
  --pc-green-teal: hsl(166, 100%, 37%);
  --pc-cobalt-blue: hsl(234, 85%, 45%);

  /* Neutral Colors */
  --nc-white: hsl(0, 0%, 100%);
  --nc-pale-blue: hsl(221, 100%, 96%);
  --nc-light-lavender: hsl(241, 100%, 89%);
  --nc-dark-gray-blue: hsl(224, 30%, 27%);

  /* Gradients Colors */

  --bg-light-slate-blue: hsl(252, 100%, 67%);
  --bg-light-royal-blue: hsl(241, 81%, 54%);

  --gc-violet-blue: hsla(256, 72%, 46%, 1);
  --gc-persian-blue: hsla(241, 72%, 46%, 0);

  /* Typography */

  --fs-paragraphs: 18px;

  --font-family: "Hanken Grotesk", sans-serif;

  --fw-medium: 500;
  --fw-bold: 700;
  --fw-extra-bold: 800;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  box-sizing: border-box;
}

main {
  height: 100vh;
  display: flex;

  display: flex;
  align-items: center;
}

.grid-container {
  margin: 0 auto;
  width: 680px;
  display: grid;
  grid-template-columns: 0.9fr 1fr;
  place-content: center;
  box-shadow: 1rem 1rem 1rem hsla(234, 85%, 45%, 0.1);
  border-radius: 2rem;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(
    var(--bg-light-slate-blue),
    var(--bg-light-royal-blue)
  );
  border-radius: 2rem;
  padding: 2rem 3rem;
  text-align: center;
  color: var(--nc-light-lavender);
}

h1,
h2 {
  font-size: 1.5rem;
}

.great-text,
.avg-score {
  color: var(--nc-white);
}

.avg-score > span {
  color: var(--nc-light-lavender);
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 10rem;
  width: 10rem;

  border-radius: 50%;
  background-image: linear-gradient(
    var(--gc-violet-blue),
    var(--gc-persian-blue)
  );
  margin: 2rem;
}

.avg-score {
  font-weight: var(--fw-extra-bold);
  font-size: 4rem;
}
.result p span {
  display: block;
  font-weight: var(--fw-medium);
  font-size: 16px;
}

.great-text {
  font-size: 2rem;
  font-weight: var(--fw-bold);
  margin-bottom: 1rem;
}

.summary {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
  padding: 2rem;
}
h2 {
  color: var(--nc-dark-gray-blue);
}

.summary-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
}

.score-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: var(--fs-paragraphs);
  background-color: burlywood;
  border-radius: 0.5rem;
  height: 3rem;
  padding: 1rem;
}
.score-cards > p {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.score-obtained {
  color: var(--nc-dark-gray-blue);
}

.max-score {
  color: hsla(224, 30%, 27%, 0.5);
}

.accent1 {
  background-color: hsla(0, 100%, 67%, 0.07);
  color: var(--pc-light-red);
}

.accent2 {
  background-color: hsla(39, 100%, 56%, 0.1);
  color: var(--pc-orangey-yellow);
}
.accent3 {
  background-color: hsla(166, 100%, 37%, 0.07);
  color: var(--pc-green-teal);
}
.accent4 {
  background-color: hsla(234, 85%, 45%, 0.07);
  color: var(--pc-cobalt-blue);
}

.accent1,
.accent2,
.accent3,
.accent4 {
  padding: 0.5rem 1rem;
  font-size: var(--fs-paragraphs);
  font-weight: var(--fw-bold);
}

.btn-continue {
  border: none;
  border-radius: 2rem;
  height: 3rem;
  background-color: var(--nc-dark-gray-blue);
  color: var(--nc-white);
  font-size: 1rem;
}

.btn-continue:hover {
  background-color: var(--nc-dark-gray-blue);
  background-image: linear-gradient(
    var(--bg-light-slate-blue),
    var(--bg-light-royal-blue)
  );
}

@media (max-width: 680px) {
  /* … */

  .grid-container {
    display: flex;
    flex-direction: column;
    min-width: 375px;
    box-shadow: none;
  }

  .result {
    border-radius: 0 0 2rem 2rem;
  }

  .score-cards {
    height: 4rem;
    border-radius: 1rem;
  }
}
